__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.orig
*.rej
*~
*.swp
.DS_Store

venv/
env/
.venv/

/data/data.db
/data/*.db
/data/*.sqlite
/data/*.sqlite3

.env
.env.local

logs/
*.log

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

sberapi.crt
configserver.py
*.DB